body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #000000;
    background-image: url('./assets/images/banner-image-2.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: top;
}

/* header*/
.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    position: fixed;
    width: 100vw;
}
nav{
    width: fit-content;
    padding-right: 1%;
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}
  
.header .logo img {
    height: 80px;
    width: auto;
    border-radius: 10%;
    transition: all 0.3s;
}
  .header .logo img:hover {
    transform: scale(1.1);
}
.header .menu {
    padding-right: 5%;
}
  .header .nav-links {
    list-style: none;
}
header .nav-links li {
    display: inline-block;
    padding: 0 20px;
    
}
.header .nav-links li:hover,
.overlay a:hover {
    transform: scale(1.1);
}
.header .nav-links a {
    font-size: 700;
    color: #eceff1;
}
.header .nav-links a:hover {
    color: #ffbc0e;
}
.menu {
    display: none;
}
  
.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header a {
    text-decoration: none;
}
  
.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #464343f2;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
  
.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}
  
  
.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}
  
@media screen and (max-height: 450px) {
    .header .overlay a {
      font-size: 20px;
    }
  
    .header .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}
@media screen and (max-width: 905px) {
    .nav-links,
    .btn {
      display: none;
    }
  
    .menu {
      display: inherit;
    }
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    color: white;
}

.header .left{
    display: flex;
    align-items: center;
}
.left{
    justify-items: auto;
}

.bold-large-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 1rem;
}


button {
    background: #3898EC;
    cursor: pointer;
    border: none;
    padding: 11px 22px;
    color: azure;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    z-index: 1;
    overflow: hidden;
    margin-top: 1rem;
}

button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #00c8ff;
    background-size: 800%;
    border-radius: 12px;

}

.main-banner {
    display: flex;
    width: 100vw;
}
.banner-text {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15%;
    text-align: center;
    flex-direction: column;
}

.banner-text p {
    font-size: 1.9rem;
    color: #ffffff;
}

.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    min-height: 50px;
    width: 25vw;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #3898EC;
    border-radius: 6px 0 0 6px;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #3898EC;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #00c8ff;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }

/* Download Section */
.bts-dwnld {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .bt-os {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
  }
  
  .bt-os:first-child {
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    background-color: #488aec;
  }
  
  .bt-os:last-child {
    box-shadow: 0 4px 6px -1px #0b162531, 0 2px 4px -1px #0e192b17;
    background-color: #fff;
  }
  
  .icon {
    height: 25px;
    width: 25px;
  }
  
  .icon svg {
    width: 100%;
    height: 100%;
  }
  
  .icon svg:last-child {
    fill: #000
  }
  
  .button-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
  
  .button-text span:first-child {
    font-size: 12px;
    font-weight: 600;
  }
  
  .google span:first-child {
    color: rgb(219 206 253);
  }
  
  .apple span:first-child {
    color: rgb(81 87 108);
  }
  
  .google span:last-child {
    color: #fff;
    font-weight: 800;
  }
  
  .apple span:last-child {
    color: #000;
    font-weight: 800;
  }

/*Team Members Section*/  

.team-members-div{
    margin-top: 3rem;
    background-color: #F5F2ED;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-team-members{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.text-team-members h1{
    margin-bottom: 1rem;
    font-size: 26px;
    color: skyblue;
}

.text-team-members p {
    margin-left: 12rem;
    margin-right: 12rem;
}

.img {
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;

}

.images-team-members{
    display: flex;
    justify-content: space-evenly;
}

.member-encapsulation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*MindTrack*/
.MindTrack {
    align-items: center;
    padding: 5% 15%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

.Text {
    text-align: justify;
    font-size: 1.2rem;
    color: #ffffff;
}

.Text h2 {
    font-size: 1.4rem;
    text-align: center;
    color: skyblue;
}

.imagen-grid {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.imagen-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.banner-info-01, .banner-info-02 {
    display: flex;

    background-color: rgb(0, 0, 0,0.2);
    color: #ffffff;
}

.banner-info-01 .left, .banner-info-02 .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 1.2rem;
    color: #ffffff;
}

.banner-info-01 h2, .banner-info-02 h2 {
    font-size: 1.4rem;
    text-align: center;
    color: skyblue;
}

.banner-info-01 .right, .banner-info-02 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #666
}

.banner-info-01 .right img, .banner-info-02 .left img {
    height: 60vh;
}

/*pricing plans section*/
.pricing-plans{
    text-align: center;
    padding: 50px;
    background-color: #F5F2ED;
}

.pricing-plans p {
    color: #666;
    font-size: 1.2rem;
}

.pricing-plans h2 {
    color: skyblue;
}

.plans-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.plan {

    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.plan ul li {
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
    padding-left: 25px;
}

.plan ul li::before {
    content: '\2713';
    color: #091133;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 1;
}

.plan:hover {
    transform: scale(1.05);
}

.plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.plan h5{
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.plan a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: skyblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.plan a.btn:hover {
    background: linear-gradient(45deg, skyblue, lightblue, skyblue, lightblue, skyblue, lightblue, skyblue, lightblue);

}
.about-us-section {
    text-align: center;
    margin-top: 3rem;
    background-color: #F5F2ED;
    color: skyblue;
}
.about-the-product-section {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 5px;
    text-align: center;
    background-color: #F5F2ED;
    color: skyblue;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Increased max width for a wider video */
    margin: 0 auto; /* Center the video horizontally */
    padding-bottom: 30%; /* Decreased height to make the video less tall */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height to maintain aspect ratio */
    border: 0;
}



/* Footer Styles */
.footer {
    background-color: black; /* Dark navy background */
    color: white;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-top: 10px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: white; /* Ensure text is white */
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 768px) {
    body{
        background-size: 250%;
        background-position: top;
    }
    .banner-text {
        padding: 15vh 5vw;
    }
    
    .input-group {
        flex-direction: column;
        gap: 0.8rem;
        width: 80%;
    }
    .input-group .input{
        width: 100%;
    }
    .input-group input, .input-group button {
       border-radius: 6px;
    }

    .button-text{
        display: inline;
    }

    .bts-dwnld {
        flex-direction: column;
        gap: 10px;
    }
    .bt-os {
        width: 100%;
    }
    .MindTrack{
        padding: 5%;
    }
    .imagen-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }
    
    .imagen-grid img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .banner-info-01{
        flex-direction: column;
    }
    .banner-info-02{
        flex-direction: column-reverse;
    }
    .banner-info-01 .right, .banner-info-01 .left, .banner-info-02 .left, .banner-info-02 .right{
        width: 100%;
    }
    .banner-info-01 .left, .banner-info-02-right{
        padding: 30px 20px;
    }
    .banner-info-01 .right img{
        width: 45vw;
        height: auto;
    }
    .banner-info-02 .left img{
        width: 100vw;
        height: auto;
    }
    .pricing-plans{
        padding: 0 10px;
    }
    .plans-container{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .plan{
        width: 90%;
    }
}